.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.924444;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.914667;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.910645;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.917969;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.938477;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:0.926758;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff7;src:url(f7.woff)format("woff");}.ff7{font-family:ff7;line-height:0.938477;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff8;src:url(f8.woff)format("woff");}.ff8{font-family:ff8;line-height:0.727539;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff9;src:url(f9.woff)format("woff");}.ff9{font-family:ff9;line-height:0.926270;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ffa;src:url(fa.woff)format("woff");}.ffa{font-family:ffa;line-height:0.914667;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ffb;src:url(fb.woff)format("woff");}.ffb{font-family:ffb;line-height:0.715556;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._3{margin-left:-10.560000px;}
._4{margin-left:-7.456000px;}
._2{margin-left:-5.984000px;}
._5{margin-left:-4.840000px;}
._6{margin-left:-3.808000px;}
._0{margin-left:-2.312000px;}
._7{margin-left:-1.088000px;}
._1{width:1.088000px;}
._8{width:2.376000px;}
._11{width:436.628836px;}
._14{width:444.316336px;}
._b{width:482.034109px;}
._e{width:495.007254px;}
._a{width:579.331473px;}
._f{width:592.304495px;}
._d{width:595.547781px;}
._c{width:598.790823px;}
._10{width:602.033987px;}
._12{width:604.316824px;}
._9{width:608.520621px;}
._13{width:616.168387px;}
.fc1{color:rgb(41,152,227);}
.fc0{color:rgb(0,0,0);}
.fs5{font-size:56.000000px;}
.fs9{font-size:60.000000px;}
.fs3{font-size:72.000000px;}
.fs7{font-size:76.000000px;}
.fsb{font-size:80.000000px;}
.fs1{font-size:88.000000px;}
.fsa{font-size:128.000000px;}
.fs0{font-size:136.000000px;}
.fs8{font-size:160.000000px;}
.fs4{font-size:176.000000px;}
.fs2{font-size:240.000000px;}
.fs6{font-size:264.000000px;}
.y12{bottom:-11.891983px;}
.y31{bottom:-0.021658px;}
.y0{bottom:0.000000px;}
.y63{bottom:0.789133px;}
.y75{bottom:1.110483px;}
.y62{bottom:1.599985px;}
.y74{bottom:2.074228px;}
.y64{bottom:3.221567px;}
.y76{bottom:4.185434px;}
.y73{bottom:4.674936px;}
.y83{bottom:7.958200px;}
.y11{bottom:9.708017px;}
.y32{bottom:51.705591px;}
.y82{bottom:54.661865px;}
.y1c{bottom:65.577393px;}
.y81{bottom:81.061859px;}
.y41{bottom:83.327265px;}
.y40{bottom:85.478561px;}
.y61{bottom:86.679459px;}
.y1b{bottom:89.337402px;}
.y30{bottom:91.929169px;}
.y72{bottom:96.382950px;}
.y60{bottom:106.479462px;}
.y80{bottom:107.461868px;}
.y3f{bottom:111.878555px;}
.y1a{bottom:113.097412px;}
.y2f{bottom:115.689178px;}
.y50{bottom:120.054321px;}
.yc{bottom:120.922478px;}
.y9{bottom:121.527496px;}
.y71{bottom:122.782944px;}
.y5f{bottom:126.279465px;}
.y7f{bottom:133.861877px;}
.y19{bottom:136.857422px;}
.y3e{bottom:138.278549px;}
.y2e{bottom:139.449188px;}
.y4f{bottom:140.574326px;}
.yb{bottom:142.522476px;}
.y5e{bottom:146.079468px;}
.y7{bottom:147.522560px;}
.y70{bottom:149.182938px;}
.y7e{bottom:160.261887px;}
.y18{bottom:160.617432px;}
.y4e{bottom:161.094330px;}
.y2d{bottom:163.209198px;}
.ya{bottom:164.122477px;}
.y3d{bottom:164.678543px;}
.y5d{bottom:165.879471px;}
.y6f{bottom:175.582947px;}
.y4d{bottom:181.614334px;}
.y6{bottom:183.922558px;}
.y17{bottom:184.377419px;}
.y5c{bottom:185.679474px;}
.y7d{bottom:186.661896px;}
.y2c{bottom:186.969208px;}
.y3c{bottom:191.078552px;}
.y6e{bottom:201.982956px;}
.y4c{bottom:202.134338px;}
.y5b{bottom:205.479477px;}
.y16{bottom:208.137413px;}
.y2b{bottom:210.729218px;}
.y7c{bottom:213.061897px;}
.y3b{bottom:217.478561px;}
.y4b{bottom:222.654343px;}
.y5a{bottom:225.279480px;}
.y6d{bottom:228.382965px;}
.y15{bottom:231.897415px;}
.y2a{bottom:234.489227px;}
.y7b{bottom:239.461899px;}
.y5{bottom:239.633118px;}
.y4a{bottom:243.174347px;}
.y3a{bottom:243.878571px;}
.y59{bottom:245.079483px;}
.y23{bottom:254.459763px;}
.y6c{bottom:254.782974px;}
.y14{bottom:255.657417px;}
.y29{bottom:258.249229px;}
.y49{bottom:263.694351px;}
.y58{bottom:264.879486px;}
.y7a{bottom:265.861900px;}
.y39{bottom:270.278580px;}
.y22{bottom:276.059769px;}
.y4{bottom:276.353104px;}
.y6b{bottom:281.182976px;}
.y28{bottom:282.009232px;}
.y48{bottom:284.214355px;}
.y57{bottom:284.679485px;}
.y79{bottom:292.261906px;}
.y38{bottom:296.678581px;}
.y21{bottom:297.659767px;}
.y56{bottom:304.479486px;}
.y47{bottom:304.734360px;}
.y27{bottom:305.769234px;}
.y6a{bottom:307.582977px;}
.y3{bottom:313.073105px;}
.y43{bottom:315.983154px;}
.y78{bottom:318.661903px;}
.y20{bottom:319.259766px;}
.y37{bottom:323.078583px;}
.y55{bottom:324.279485px;}
.y46{bottom:325.254364px;}
.y26{bottom:329.529236px;}
.y69{bottom:333.982979px;}
.y1f{bottom:340.859768px;}
.y10{bottom:345.248383px;}
.y45{bottom:345.774364px;}
.y54{bottom:349.062889px;}
.y36{bottom:349.478584px;}
.y2{bottom:349.793106px;}
.y68{bottom:360.382980px;}
.y1e{bottom:362.459770px;}
.y44{bottom:366.294367px;}
.y25{bottom:366.773285px;}
.yf{bottom:366.848389px;}
.y35{bottom:375.878586px;}
.y1d{bottom:384.059769px;}
.y1{bottom:386.513107px;}
.y67{bottom:386.782982px;}
.ye{bottom:388.448387px;}
.y42{bottom:395.183151px;}
.y53{bottom:397.062881px;}
.y8{bottom:401.569466px;}
.y34{bottom:402.278585px;}
.y13{bottom:404.863998px;}
.yd{bottom:410.048388px;}
.y77{bottom:416.752403px;}
.y24{bottom:419.573284px;}
.y66{bottom:429.536030px;}
.y33{bottom:434.167843px;}
.y52{bottom:445.062881px;}
.y84{bottom:501.059406px;}
.y65{bottom:512.410744px;}
.y51{bottom:513.221611px;}
.hb{height:40.769531px;}
.h10{height:41.706667px;}
.h9{height:50.048000px;}
.h5{height:52.417969px;}
.he{height:52.828444px;}
.h13{height:55.608889px;}
.h3{height:60.886719px;}
.hc{height:61.169778px;}
.h8{height:62.992188px;}
.h7{height:64.066406px;}
.h11{height:90.225778px;}
.h2{height:94.535111px;}
.h1{height:95.864889px;}
.hf{height:112.782222px;}
.ha{height:124.060444px;}
.h12{height:125.984375px;}
.h6{height:169.173333px;}
.h4{height:172.851562px;}
.hd{height:188.976562px;}
.h0{height:540.000000px;}
.w0{width:960.000000px;}
.x0{left:0.000000px;}
.xa{left:7.199997px;}
.xd{left:20.569519px;}
.x5{left:26.718033px;}
.x1{left:47.977081px;}
.x11{left:73.242752px;}
.x6{left:147.470230px;}
.xe{left:151.524246px;}
.xb{left:166.929688px;}
.x9{left:213.145905px;}
.x12{left:299.826141px;}
.x15{left:372.712219px;}
.x2{left:444.605652px;}
.x8{left:490.320007px;}
.x13{left:525.109131px;}
.xc{left:527.740540px;}
.xf{left:530.172852px;}
.x4{left:531.731262px;}
.x10{left:689.902588px;}
.x14{left:710.769470px;}
.x3{left:736.469238px;}
.x7{left:771.794556px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._3{margin-left:-14.080000pt;}
._4{margin-left:-9.941333pt;}
._2{margin-left:-7.978667pt;}
._5{margin-left:-6.453333pt;}
._6{margin-left:-5.077333pt;}
._0{margin-left:-3.082667pt;}
._7{margin-left:-1.450667pt;}
._1{width:1.450667pt;}
._8{width:3.168000pt;}
._11{width:582.171781pt;}
._14{width:592.421781pt;}
._b{width:642.712146pt;}
._e{width:660.009672pt;}
._a{width:772.441964pt;}
._f{width:789.739327pt;}
._d{width:794.063708pt;}
._c{width:798.387764pt;}
._10{width:802.711983pt;}
._12{width:805.755766pt;}
._9{width:811.360827pt;}
._13{width:821.557849pt;}
.fs5{font-size:74.666667pt;}
.fs9{font-size:80.000000pt;}
.fs3{font-size:96.000000pt;}
.fs7{font-size:101.333333pt;}
.fsb{font-size:106.666667pt;}
.fs1{font-size:117.333333pt;}
.fsa{font-size:170.666667pt;}
.fs0{font-size:181.333333pt;}
.fs8{font-size:213.333333pt;}
.fs4{font-size:234.666667pt;}
.fs2{font-size:320.000000pt;}
.fs6{font-size:352.000000pt;}
.y12{bottom:-15.855977pt;}
.y31{bottom:-0.028877pt;}
.y0{bottom:0.000000pt;}
.y63{bottom:1.052177pt;}
.y75{bottom:1.480644pt;}
.y62{bottom:2.133313pt;}
.y74{bottom:2.765638pt;}
.y64{bottom:4.295423pt;}
.y76{bottom:5.580579pt;}
.y73{bottom:6.233248pt;}
.y83{bottom:10.610934pt;}
.y11{bottom:12.944023pt;}
.y32{bottom:68.940788pt;}
.y82{bottom:72.882487pt;}
.y1c{bottom:87.436523pt;}
.y81{bottom:108.082479pt;}
.y41{bottom:111.103020pt;}
.y40{bottom:113.971415pt;}
.y61{bottom:115.572611pt;}
.y1b{bottom:119.116536pt;}
.y30{bottom:122.572225pt;}
.y72{bottom:128.510600pt;}
.y60{bottom:141.972616pt;}
.y80{bottom:143.282491pt;}
.y3f{bottom:149.171407pt;}
.y1a{bottom:150.796549pt;}
.y2f{bottom:154.252238pt;}
.y50{bottom:160.072428pt;}
.yc{bottom:161.229970pt;}
.y9{bottom:162.036662pt;}
.y71{bottom:163.710592pt;}
.y5f{bottom:168.372620pt;}
.y7f{bottom:178.482503pt;}
.y19{bottom:182.476562pt;}
.y3e{bottom:184.371399pt;}
.y2e{bottom:185.932251pt;}
.y4f{bottom:187.432434pt;}
.yb{bottom:190.029968pt;}
.y5e{bottom:194.772624pt;}
.y7{bottom:196.696747pt;}
.y70{bottom:198.910583pt;}
.y7e{bottom:213.682515pt;}
.y18{bottom:214.156576pt;}
.y4e{bottom:214.792440pt;}
.y2d{bottom:217.612264pt;}
.ya{bottom:218.829969pt;}
.y3d{bottom:219.571391pt;}
.y5d{bottom:221.172628pt;}
.y6f{bottom:234.110596pt;}
.y4d{bottom:242.152445pt;}
.y6{bottom:245.230077pt;}
.y17{bottom:245.836558pt;}
.y5c{bottom:247.572632pt;}
.y7d{bottom:248.882528pt;}
.y2c{bottom:249.292277pt;}
.y3c{bottom:254.771403pt;}
.y6e{bottom:269.310608pt;}
.y4c{bottom:269.512451pt;}
.y5b{bottom:273.972636pt;}
.y16{bottom:277.516551pt;}
.y2b{bottom:280.972290pt;}
.y7c{bottom:284.082530pt;}
.y3b{bottom:289.971415pt;}
.y4b{bottom:296.872457pt;}
.y5a{bottom:300.372640pt;}
.y6d{bottom:304.510620pt;}
.y15{bottom:309.196554pt;}
.y2a{bottom:312.652303pt;}
.y7b{bottom:319.282532pt;}
.y5{bottom:319.510824pt;}
.y4a{bottom:324.232463pt;}
.y3a{bottom:325.171427pt;}
.y59{bottom:326.772644pt;}
.y23{bottom:339.279683pt;}
.y6c{bottom:339.710632pt;}
.y14{bottom:340.876556pt;}
.y29{bottom:344.332306pt;}
.y49{bottom:351.592468pt;}
.y58{bottom:353.172648pt;}
.y7a{bottom:354.482534pt;}
.y39{bottom:360.371440pt;}
.y22{bottom:368.079692pt;}
.y4{bottom:368.470805pt;}
.y6b{bottom:374.910634pt;}
.y28{bottom:376.012309pt;}
.y48{bottom:378.952474pt;}
.y57{bottom:379.572647pt;}
.y79{bottom:389.682541pt;}
.y38{bottom:395.571442pt;}
.y21{bottom:396.879690pt;}
.y56{bottom:405.972649pt;}
.y47{bottom:406.312480pt;}
.y27{bottom:407.692312pt;}
.y6a{bottom:410.110636pt;}
.y3{bottom:417.430806pt;}
.y43{bottom:421.310872pt;}
.y78{bottom:424.882538pt;}
.y20{bottom:425.679687pt;}
.y37{bottom:430.771444pt;}
.y55{bottom:432.372646pt;}
.y46{bottom:433.672485pt;}
.y26{bottom:439.372314pt;}
.y69{bottom:445.310638pt;}
.y1f{bottom:454.479691pt;}
.y10{bottom:460.331177pt;}
.y45{bottom:461.032486pt;}
.y54{bottom:465.417185pt;}
.y36{bottom:465.971446pt;}
.y2{bottom:466.390808pt;}
.y68{bottom:480.510640pt;}
.y1e{bottom:483.279694pt;}
.y44{bottom:488.392489pt;}
.y25{bottom:489.031047pt;}
.yf{bottom:489.131185pt;}
.y35{bottom:501.171448pt;}
.y1d{bottom:512.079692pt;}
.y1{bottom:515.350810pt;}
.y67{bottom:515.710642pt;}
.ye{bottom:517.931183pt;}
.y42{bottom:526.910868pt;}
.y53{bottom:529.417175pt;}
.y8{bottom:535.425954pt;}
.y34{bottom:536.371447pt;}
.y13{bottom:539.818665pt;}
.yd{bottom:546.731183pt;}
.y77{bottom:555.669871pt;}
.y24{bottom:559.431046pt;}
.y66{bottom:572.714706pt;}
.y33{bottom:578.890457pt;}
.y52{bottom:593.417175pt;}
.y84{bottom:668.079208pt;}
.y65{bottom:683.214325pt;}
.y51{bottom:684.295481pt;}
.hb{height:54.359375pt;}
.h10{height:55.608889pt;}
.h9{height:66.730667pt;}
.h5{height:69.890625pt;}
.he{height:70.437926pt;}
.h13{height:74.145185pt;}
.h3{height:81.182292pt;}
.hc{height:81.559704pt;}
.h8{height:83.989583pt;}
.h7{height:85.421875pt;}
.h11{height:120.301037pt;}
.h2{height:126.046815pt;}
.h1{height:127.819852pt;}
.hf{height:150.376296pt;}
.ha{height:165.413926pt;}
.h12{height:167.979167pt;}
.h6{height:225.564444pt;}
.h4{height:230.468750pt;}
.hd{height:251.968750pt;}
.h0{height:720.000000pt;}
.w0{width:1280.000000pt;}
.x0{left:0.000000pt;}
.xa{left:9.599996pt;}
.xd{left:27.426025pt;}
.x5{left:35.624044pt;}
.x1{left:63.969442pt;}
.x11{left:97.657003pt;}
.x6{left:196.626973pt;}
.xe{left:202.032328pt;}
.xb{left:222.572917pt;}
.x9{left:284.194539pt;}
.x12{left:399.768188pt;}
.x15{left:496.949626pt;}
.x2{left:592.807536pt;}
.x8{left:653.760010pt;}
.x13{left:700.145508pt;}
.xc{left:703.654053pt;}
.xf{left:706.897135pt;}
.x4{left:708.975016pt;}
.x10{left:919.870117pt;}
.x14{left:947.692627pt;}
.x3{left:981.958984pt;}
.x7{left:1029.059408pt;}
}
